Source: rocprim
Section: devel
Homepage: https://github.com/rocmsoftwareplatform/rocprim
Priority: optional
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/rocm-team/rocprim.git
Vcs-Browser: https://salsa.debian.org/rocm-team/rocprim
Maintainer: ROCm Team <debian-ai@lists.debian.org>
Uploaders: Maxime Chambonnet <maxzor@maxzor.eu>,
           Cordell Bloor <cgmb@slerp.xyz>,
Build-Depends: debhelper-compat (= 13),
               cmake,
               hipcc,
               libamd-comgr-dev,
               libhsa-runtime-dev,
               rocminfo,
               rocm-cmake,
               libgtest-dev <!nocheck>
Rules-Requires-Root: no

Package: librocprim-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: parallel primitives for GPU-accelerated code - headers
 rocPRIM is a header-only library providing HIP parallel primitives for
 developing performant GPU-accelerated code on the AMD ROCm platform.
 .
 This package provides AMD ROCm rocPRIM development headers.
